<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav') %>

    <section>
        <h1>Yazılar</h1>
        <ul>
            <!--<li>
                <a href="#">Blog 1</a>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeatLorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeat<p>
            </li>
            <li>
                <a href="#">Blog 2</a>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeatLorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeat<p>
            </li>
            <li>
                <a href="#">Blog 3</a>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeatLorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia provident reiciendis eligendi, atque dolores delectus iste libero repellendus voluptates animi nostrum officia quisquam hic obcaecati, cumque tenetur doloremque placeat<p>
            </li>-->
            <% blogs.forEach(blog=>{%>
                <li>
                    <a href="/blog/<%=blog._id%>"><%=blog.title%></a>
                    <p><%=blog.short%><p>
                </li>
            <% }) %>
        </ul>
    </section>
</body>
</html>